{% extends 'master.html' %}

{% block titulo %} Busqueda de vinos por tipos de uvas {% endblock %}	    

{% block contenido %} 

    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		<fieldset>
    			<legend>Busqueda de Vinos</legend>
				{{formulario}}
    			<BR><BR>

    			<input type='submit' value='Realizar Busqueda'/>
    		</fieldset>
    	</form>
	    
	    <hr>


	    {% if vinos %}
		    <h3> Total de Vinos con ese tipo de uvas:  {{ vinos|length }}</h3>

			{% for row in vinos %}
			    <dt><b>Nombre: </b>{{row.nombre}} </dt>
			    <dd><b>Precio: </b>{{row.precio}} </dd>
			    <dd> <b>Tipos de uvas: </b>
			    {% for u in row.uvas.all %}
			    	{{u.nombre}} 
			    {% endfor %}
			    </dd>		    
			{% endfor %}

			</dl>

		{% endif %}
	</div>
{% endblock %}
