<!DOCTYPE html>
<html lang='es'>
  <head>
	<meta charset='utf-8'>
  </head>
  <body>

	    <h1>EJERCICIO DE DJANGO - VINISSIMUS </h1>
		    <dl>
		    	<dt><a href="/populate">Poblar Base de Datos</a></dt>
		        <dt><a href="/denominacion_vinos">Vinos agrupados por denominacion</a></dt
		        <dt><a href="/vinos_anyo">Buscar vinos por anyo</a></dt>
		        <dt><a href="/vinos_uva">Buscar vinos por uva</a></dt>
		        <dt><a href="/">Inicio</a></li>
		    </dl>

		<hr>
 		
 		<h1 >{% block titulo %} {% endblock %}</h1>

		{% block contenido %} {% endblock %}
  </body>
</html>